{#
/**
 * @file
 * Theme implementation to produce markup for background styling on an image field.
 *
 * Available variables:
 * - url: An optional URL the image can be linked to.
 *
 */
#}

{% if url %}
  <div class="bg-img" style="background-image:url({{ url }}); background-repeat: no-repeat;"></div>
{% else %}
  <div class="bg-no-img"></div>
{% endif %}
